---
import { Icon } from 'astro-icon';
import { twMerge } from 'tailwind-merge';

import Facet from '@/components/Facet.astro';
import FacetSection from '@/components/FacetSection.astro';
import { ThemeToggle } from '@/components/react/ThemeToggle';
import type { Facets } from '@/utils/facets';

interface Props {
  facets: Facets;
  mobile?: boolean;
}

const { facets, mobile } = Astro.props;

const facetEntries = Object.entries(facets || {});
const filtered = facetEntries.some(([_, values]) =>
  values.some((val) => val.checked),
);
---

<div
  class={twMerge(
    'static hidden h-full px-4 pb-8 lg:block',
    mobile && 'block !pb-16 h-full',
  )}
>
  {
    mobile && (
      <div class="sticky top-2 z-[988] flex justify-end rounded-3xl bg-zinc-600/5 p-1 px-2 opacity-0 backdrop-blur-sm transition-opacity duration-1000 group-data-[active='on']:opacity-100 dark:bg-zinc-200/5">
        <a
          href="/submission"
          class="flex h-11 w-11 items-center justify-center"
        >
          <Icon name="tabler:plus" class="h-5 w-5" />
        </a>
        <a href="/bookmarks" class="flex h-11 w-11 items-center justify-center">
          <Icon name="tabler:bookmarks" class="h-5 w-5" />
        </a>
        <ThemeToggle client:only />
        <button
          id="mobile-menu-close-button"
          class="flex h-11 w-11 items-center justify-center"
        >
          <Icon name="tabler:x" class="h-5 w-5" />
        </button>
      </div>
    )
  }
  {
    filtered && (
      <div class="relative flex">
        <button
          class={twMerge(
            'clear-filters',
            'absolute right-0 z-40 dark:bg-zinc-900 top-3.5 ml-auto inline-flex items-center rounded-full px-2.5 py-1 text-xs shadow-sm ring-1 ring-inset ring-zinc-200 hover:bg-zinc-600/5 dark:ring-zinc-800 dark:hover:bg-zinc-800/50',
          )}
        >
          <Icon name="tabler:x" class="h-3 w-3" /> Clear
        </button>
      </div>
    )
  }
  {
    facetEntries.map(([facet, values]: any) => (
      <FacetSection title={facet}>
        {values?.map((f: any) => (
          <Facet
            key={facet}
            title={f.value}
            count={f.count}
            selected={f.checked}
            disabled={f.disabled}
          />
        ))}
      </FacetSection>
    ))
  }
</div>

<script>
  import Query from '@/utils/query';

  document.addEventListener('astro:page-load', () => {
    const clearFilterButtons = Array.from(
      document.getElementsByClassName('clear-filters'),
    );
    const closeMenu = document.getElementById('mobile-menu-close-button');
    const wrapper = document.getElementById('mobile-menu-wrapper');

    closeMenu?.addEventListener('click', () => {
      wrapper?.setAttribute('data-active', 'off');
      document.body.style.overflow = 'auto';
    });

    clearFilterButtons.forEach((clearFilterButton) => {
      clearFilterButton?.addEventListener('click', () => {
        Query.clear();
      });
    });
  });
</script>
