---
import { Image } from 'astro:assets';

import type { AllItems } from '@/pages/[...category].astro';

interface Props {
  items: AllItems;
}

const { items } = Astro.props;
---

<ul
  role="list"
  class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5"
>
  {
    items.map((item) => (
      <li class="col-span-1 divide-y divide-gray-2 rounded-lg border bg-gray-1 hover:bg-gray-2">
        <a
          href={`/${item.collection}/${item.slug}/`}
          class="flex w-full items-center justify-between space-x-4 p-2"
        >
          <Image
            class="h-14 w-14 shrink-0 rounded"
            src={item.data.logo}
            alt={item.data.name}
          />
          <div class="flex-1 truncate">
            <div class="flex items-center space-x-3">
              <h1 class="truncate font-medium">{item.data.name}</h1>
              <span class="inline-flex items-center rounded-md bg-gray-4 px-2 py-1 text-xs font-medium capitalize text-gray-11">
                {item.collection}
              </span>
            </div>
            <p
              class="mt-1 truncate text-sm text-gray-11"
              title={item.data.headline}
            >
              {item.data.headline}
            </p>
          </div>
        </a>
      </li>
    ))
  }
</ul>
