---
import AllFacets from '@/components/AllFacets.astro';
import LeftBar from '@/components/LeftBar.astro';
import MobileMenu from '@/components/MobileMenu.astro';
import TailwindIndicator from '@/components/TailwindIndicator.astro';
import TopNav from '@/components/TopNav.astro';
import type { Facets } from '@/utils/facets';

import smashingLogo from '../../public/logo.svg';
import BaseHead from '../components/BaseHead.astro';
import { type CategoryPaths, SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export const prerender = false;

interface Props {
  activeCategory: CategoryPaths;
  facets: Facets;
}

const { activeCategory = '/', facets } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class="w-full">
      <header
        class="px-4 lg:fixed lg:inset-4 lg:flex lg:w-[400px] lg:items-start lg:overflow-y-auto lg:rounded-3xl lg:border lg:bg-zinc-50 lg:px-0 lg:dark:bg-zinc-900"
      >
        <div class="-mx-4 flex items-center gap-3 border-b p-3 px-6 lg:hidden">
          <a href="/" class="absolute z-[233]">
            <img
              class="mx-auto h-8 w-8 dark:text-white"
              src={smashingLogo.src}
              alt="smashing.tools"
              sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
            /></a
          >
          <div class="grow"></div>
          <div class="flex items-center gap-3">
            <MobileMenu facets={facets} />
          </div>
        </div>
        <LeftBar />
        <div
          class="relative z-10 mx-auto pt-4 lg:sticky lg:top-0 lg:min-h-full lg:max-w-2xl lg:flex-auto lg:pt-0"
        >
          <div
            class="sticky top-0 z-30 rounded-bl-2xl lg:-ml-5 lg:border-b lg:bg-white lg:pb-2 lg:pl-5 lg:pt-4 lg:dark:bg-zinc-950"
          >
            <TopNav activeCategory={activeCategory} />
          </div>
          <div class="h-full pb-2 lg:bg-zinc-50 lg:pb-0 lg:dark:bg-zinc-900">
            <AllFacets facets={facets} />
          </div>
        </div>
      </header>
      <main class="lg:relative lg:mb-10 lg:ml-[400px]">
        <div class="relative lg:ml-4">
          <div
            class="mx-4 mb-4 mt-0 hidden flex-wrap items-start justify-between gap-4 lg:mt-8 lg:flex xl:flex-row"
          >
            <div>
              <h1
                class="max-w-lg text-xl font-medium tracking-tight lg:text-2xl"
              >
                A curated collection of the best starter kits,<br
                  class="hidden sm:block"
                />ui components & design kits for developers.
              </h1>
              <p
                class="mt-4 hidden max-w-lg items-baseline font-mono text-sm tracking-tighter text-zinc-400 lg:block lg:max-w-xs"
              >
                Press <kbd
                  class="rounded-full border-b-2 border-t border-t-zinc-100 px-2 py-1 shadow-inner shadow-white/5 dark:border-t-zinc-800"
                  >⌘ + D</kbd
                >
                 to bookmark
              </p>
            </div>
            <a
              href="/submission/"
              aria-label="Submission guidelines"
              class="inline-flex h-full animate-background-shine cursor-pointer items-center justify-center rounded-full border border-zinc-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] px-4 py-3 text-sm font-medium text-slate-300 backdrop-blur-3xl delay-1000"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="relative -left-0.5 mr-1 h-5 w-5 dark:text-zinc-300"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 4h6v6h-6zm10 0h6v6h-6zm-10 10h6v6h-6zm10 3h6m-3 -3v6"
                ></path></svg
              >
               Submit a tool
            </a>
          </div>
          <slot />
        </div>
      </main>
    </div>
    <TailwindIndicator />
    <script is:inline>
      // TODO: re-enable this when we have a better solution for scroll restoration
      // document.addEventListener('astro:before-swap', () => {
      //   const header = document.querySelector('header');
      //   localStorage.setItem(
      //     'headerScrollPosition',
      //     header.scrollTop.toString(),
      //   );
      // });
      // document.addEventListener('astro:after-swap', () => {
      //   const header = document.querySelector('header');
      //   const scrollPosition = localStorage.getItem('headerScrollPosition');
      //   header.scrollTo({
      //     left: 0,
      //     top: Number(scrollPosition),
      //     behavior: 'instant',
      //   });
      // });
    </script>
  </body>
</html>
