---
import AllFacets from '@/components/AllFacets.astro';
import LeftBar from '@/components/LeftBar.astro';
import MobileMenu from '@/components/MobileMenu.astro';
import TailwindIndicator from '@/components/TailwindIndicator.astro';
import TopNav from '@/components/TopNav.astro';
import type { Facets } from '@/utils/facets';

import smashingLogo from '../../public/logo.svg';
import BaseHead from '../components/BaseHead.astro';
import { type CategorySlugs, SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export const prerender = false;

interface Props {
  activeCategory: CategorySlugs;
  facets: Facets;
}

const { activeCategory = '/', facets } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class="w-full">
      <header
        class="bg-zinc-50 px-4 dark:bg-zinc-900 lg:fixed lg:inset-4 lg:flex lg:w-96 lg:items-start lg:overflow-y-auto lg:rounded-3xl lg:border lg:px-0"
      >
        <div class="-mx-4 flex items-center gap-3 border-b p-3 px-6 lg:hidden">
          <a href="/" class="absolute z-40">
            <img
              class="mx-auto h-8 w-8 dark:text-white"
              src={smashingLogo.src}
              alt="smashing.tools"
              sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
            /></a
          >
          <div class="grow"></div>
          <div class="flex items-center gap-3">
            <MobileMenu facets={facets} />
          </div>
        </div>
        <LeftBar />
        <div
          class="relative z-10 mx-auto pt-4 lg:sticky lg:top-0 lg:min-h-full lg:max-w-2xl lg:flex-auto lg:pt-0"
        >
          <div
            class="sticky top-0 z-30 rounded-bl-2xl lg:-ml-5 lg:border-b lg:bg-white lg:pb-2 lg:pl-5 lg:pt-4 lg:dark:bg-zinc-950"
          >
            <TopNav activeCategory={activeCategory} />
          </div>
          <div class="h-full bg-zinc-50 pb-2 dark:bg-zinc-900 lg:pb-0">
            <AllFacets facets={facets} />
          </div>
        </div>
      </header>
      <main
        class="border-t lg:relative lg:mb-10 lg:ml-96 lg:border-t-0 xl:ml-96"
      >
        <div class="relative lg:ml-4">
          <slot />
        </div>
      </main>
    </div>
    <TailwindIndicator />
    <script is:inline>
      // TODO: re-enable this when we have a better solution for scroll restoration
      // document.addEventListener('astro:before-swap', () => {
      //   const header = document.querySelector('header');
      //   localStorage.setItem(
      //     'headerScrollPosition',
      //     header.scrollTop.toString(),
      //   );
      // });
      // document.addEventListener('astro:after-swap', () => {
      //   const header = document.querySelector('header');
      //   const scrollPosition = localStorage.getItem('headerScrollPosition');
      //   header.scrollTo({
      //     left: 0,
      //     top: Number(scrollPosition),
      //     behavior: 'instant',
      //   });
      // });
    </script>
  </body>
</html>
