---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import BaseHead from '../components/BaseHead.astro';

type Props = CollectionEntry<'code'>['data'] & { slug: string };

const { name, headline, logo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={name} description={headline} />
  </head>

  <body>
    <main class="mx-auto flex w-full max-w-lg">
      <article class="py-12">
        <div>
          <Image width={80} height={80} src={logo} alt={name} class="rounded" />
        </div>
        <h1 class="mb-1 mt-4 truncate text-2xl font-semibold">
          {name}
        </h1>
        <p class="mb-4 text-gray-12">
          {headline}
        </p>
        <hr />
        <div class="prose pt-4">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
