---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import BaseHead from '../components/BaseHead.astro';

type Props = CollectionEntry<'code'>['data'] & { slug: string };

const { name, headline, logo, slug } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={name} description={headline} />
  </head>

  <body>
    <main class="prose mx-auto flex w-full max-w-lg text-sm">
      <article class="pb-12">
        <div>
          <Image
            transition:name={`image-${slug}`}
            width={80}
            height={80}
            src={logo}
            alt={name}
          />
        </div>
        <h1 class="truncate font-medium" transition:name={`title-${slug}`}>
          {name}
        </h1>
        <hr />
        <slot />
      </article>
    </main>
  </body>
</html>
