---
import type { Entry } from '@keystatic/core/reader';
import { Image } from 'astro:assets';

import CommandMenu from '@/components/react/CommandMenu';
import { NavigateKeys } from '@/components/react/NavigateKeys';
import { ThemeToggle } from '@/components/react/ThemeToggle';

import type keystaticConfig from '../../keystatic.config';
import smashingLogo from '../../public/logo.svg';
import BaseHead from '../components/BaseHead.astro';

type CodeEntry = Entry<(typeof keystaticConfig)['collections']['code']>;
type DesignEntry = Entry<(typeof keystaticConfig)['collections']['design']>;

type Props = (CodeEntry | DesignEntry) & {
  collection: string;
  slug?: string;
  prevSlug?: string;
  nextSlug?: string;
};

const { name, headline, logo, collection, prevSlug, nextSlug, slug } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={name} description={headline} />
  </head>

  <body>
    <div class="mx-auto h-full max-w-xl">
      <div
        data-pagefind-ignore
        id="tool-layout-header"
        class="fixed left-0 top-0 z-50 w-full p-2 px-4"
      >
        <div
          class="mx-auto flex w-full max-w-xl items-center gap-3 rounded-full bg-zinc-600/5 px-4 py-1 backdrop-blur-sm dark:bg-zinc-200/5"
        >
          <a href="/" class="absolute z-[975]">
            <img
              class="mx-auto h-8 w-8 dark:text-white"
              src={smashingLogo.src}
              alt="smashing.tools"
              sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
            /></a
          >
          <div class="grow"></div>
          <ThemeToggle client:only />
        </div>
      </div>
      <header class="px-4">
        <div class="hidden" data-pagefind-ignore>
          <CommandMenu client:idle />
        </div>
        <div class="relative z-10 mx-auto px-4 pb-4 pt-24">
          <div class="relative block w-24 overflow-hidden">
            <Image
              data-pagefind-meta="image[src], image_alt[alt]"
              class="w-full"
              src={`/logos/${slug}/${logo}`}
              alt={name}
              width={200}
              height={200}
            />
          </div>
          <div class="mt-6 text-left">
            <p
              class="text-2xl font-medium text-zinc-900 dark:text-zinc-50"
              data-pagefind-meta="name"
            >
              {name}
            </p>
            <p
              data-pagefind-meta="headline"
              class="mt-3 text-lg font-normal text-zinc-700 dark:text-zinc-200"
            >
              {headline}
            </p>
          </div>
          <section class="mt-10">
            <ul
              data-pagefind-ignore
              role="list"
              class="mt-4 flex gap-10 text-base font-medium leading-7 text-zinc-700"
            >
              <li>
                <a
                  href="/"
                  class="flex rounded-3xl bg-white px-4 py-3 text-base font-semibold text-zinc-900 shadow-sm ring-1 ring-inset ring-zinc-300 hover:bg-zinc-100/75 dark:ring-zinc-100 dark:hover:bg-white/95"
                  ><span
                    ><span class="flex items-center"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="relative -left-0.5 mr-1.5 h-5 w-5 stroke-zinc-400 dark:stroke-zinc-800"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                          d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                        ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                        ></path></svg
                      >Website</span
                    ></span
                  ></a
                >
              </li>
            </ul>
          </section>
        </div>
      </header>
      <main>
        <article
          class="prose prose-zinc relative mx-auto h-full max-w-full p-8 dark:prose-invert"
        >
          <slot data-pagefind-meta="content" />
          <NavigateKeys
            client:load
            prevHref={prevSlug && `/${collection}/${prevSlug}`}
            nextHref={nextSlug && `/${collection}/${nextSlug}`}
          />
        </article>
      </main>
    </div>
  </body>
</html>
