---
import type { CollectionEntry } from 'astro:content';
import { twMerge } from 'tailwind-merge';

import LeftBar from '@/components/LeftBar.astro';
import CommandMenu from '@/components/react/CommandMenu';
import { NavigateKeys } from '@/components/react/NavigateKeys';
import { ThemeToggle } from '@/components/react/ThemeToggle';

import smashingLogo from '../../public/logo.svg';
import BaseHead from '../components/BaseHead.astro';

type Props = (
  | CollectionEntry<'code'>['data']
  | CollectionEntry<'design'>['data']
) & {
  collection: string;
  prevSlug?: string;
  nextSlug?: string;
};

const { name, headline, logo, logoPadding, collection, prevSlug, nextSlug } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={name} description={headline} />
  </head>

  <body>
    <div class="h-full w-full">
      <header
        class="bg-zinc-50 px-4 dark:bg-zinc-900 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-96 lg:items-start lg:overflow-y-auto lg:px-0"
      >
        <div
          class="fixed top-0 z-50 -mx-4 flex w-full items-center gap-3 bg-black/5 p-3 px-6 shadow-md backdrop-blur-sm dark:bg-black/50 lg:hidden"
        >
          <a href="/" class="absolute z-[975]">
            <img
              class="mx-auto h-8 w-8 dark:text-white"
              src={smashingLogo.src}
              alt="smashing.tools"
              sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
            /></a
          >
          <div class="grow"></div>
          <div class="flex items-center gap-3">
            <ThemeToggle client:only />
          </div>
        </div>
        <LeftBar />
        <div class="hidden">
          <CommandMenu client:idle />
        </div>
        <div
          class="relative z-10 mx-auto px-4 pb-4 pt-24 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto lg:border-x lg:border-zinc-200 lg:p-6 dark:lg:border-zinc-800"
        >
          <div
            class="relative mx-auto block w-48 overflow-hidden rounded-lg bg-white shadow-xl shadow-zinc-200 dark:bg-black dark:shadow-zinc-800/20 sm:w-64 sm:rounded-xl lg:w-auto lg:rounded-2xl"
          >
            <img
              class={twMerge('w-full', logoPadding && 'p-4')}
              src={logo.src}
              alt={name}
              sizes="(min-width: 1024px) 20rem, (min-width: 640px) 16rem, 12rem"
            />
            <div
              class="absolute inset-0 rounded-lg ring-1 ring-inset ring-black/10 dark:ring-black/70 sm:rounded-xl lg:rounded-2xl"
            >
            </div>
          </div>
          <div class="mt-10 text-center lg:mt-12 lg:text-left">
            <p class="text-2xl font-medium text-zinc-900 dark:text-zinc-50">
              {name}
            </p>
            <p
              class="mt-3 text-lg font-normal text-zinc-700 dark:text-zinc-200"
            >
              {headline}
            </p>
          </div>
          <section class="mt-10 lg:mt-12">
            <div
              class="h-px bg-gradient-to-r from-zinc-200/0 via-zinc-200 to-zinc-200/0 dark:via-zinc-700 lg:hidden"
            >
            </div>
            <ul
              role="list"
              class="mt-4 flex justify-center gap-10 text-base font-medium leading-7 text-zinc-700 sm:gap-8 lg:justify-start lg:gap-4"
            >
              <li>
                <a
                  href="/"
                  class="flex rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-zinc-900 shadow-sm ring-1 ring-inset ring-zinc-300 hover:bg-zinc-100/75 dark:bg-white/10 dark:text-white dark:ring-zinc-700 dark:hover:bg-white/5"
                  ><span
                    ><span class="flex items-center"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="relative -left-0.5 mr-1.5 h-5 w-5 stroke-zinc-400"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path
                          d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                        ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                        ></path></svg
                      >Website</span
                    ></span
                  ></a
                >
              </li>
            </ul>

            <div class="mt-4">
              <div
                class="h-px bg-gradient-to-r from-zinc-200/0 via-zinc-200 to-zinc-200/0 dark:via-zinc-700 lg:hidden"
              >
              </div>
              <dl class="divide-y divide-zinc-100 dark:divide-zinc-600">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt
                    class="text-sm font-medium leading-6 text-zinc-900 dark:text-zinc-400"
                  >
                    Full name
                  </dt>
                  <dd
                    class="mt-1 text-sm leading-6 text-zinc-600 dark:text-zinc-500 sm:col-span-2 sm:mt-0"
                  >
                    Margot Foster
                  </dd>
                </div>
              </dl>
            </div>
          </section>
        </div>
      </header>
      <main class="border-t lg:relative lg:mb-10 lg:ml-96 lg:border-t-0">
        <article
          class="prose prose-zinc relative mx-auto h-full max-w-full p-8 dark:prose-invert"
        >
          <slot />
          <NavigateKeys
            client:load
            prevHref={prevSlug && `/${collection}/${prevSlug}`}
            nextHref={nextSlug && `/${collection}/${nextSlug}`}
          />
        </article>
      </main>
    </div>
  </body>
</html>
